<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8">

    <title>BookCatalog</title>

    <link rel='stylesheet' media='screen' href='/css/bootstrap.min.css'>

    <script type='text/javascript' src='/js/bootstrap.min.js'></script>

</head>

<body>

<nav class="navbar navbar-light bg-light">

    <span class="navbar-brand mb-0 h1">BookCatalog</span>

</nav>

<br>

<div class="container">

    <div class="row">

        <div class="col">

            <h5>Add book</h5>
            <form method="post" action="#" th:action="@{/save-book}" th:object="${book}">

                <table class="table">
                    <tr>

                        <td th:text="Author"/>


                        <td>

                            <input th:field="*{author}"/>
                            <div class="alert alert-danger"
                                 th:if="${#fields.hasErrors('author')}" th:errors="*{author"></div>

                        </td>

                    </tr>

                    <tbody>

                    <tr>

                        <td th:text="Title"/>


                        <td>

                            <input th:field="*{title}"/>
                            <div class="alert alert-danger"
                                 th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>

                        </td>

                    </tr>


                    <tr>

                        <td th:text="Description"/>

                        <td>

                            <input th:field="*{description}"/>
                            <div class="alert alert-danger"
                                 th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>

                        </td>

                    </tr>

                    <tr>

                        <td th:text="Year"/>

                        <td>

                            <input th:field="*{year}"/>
                            <div class="alert alert-danger"
                                 th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></div>

                        </td>

                    </tr>

                    <tr>

                        <td th:text="Isbn"/>

                        <td>

                            <input th:field="*{isbn}"/>
                            <div class="alert alert-danger"
                                 th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></div>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <input class="btn-outline-primary btn-group" type="submit" value="Add"/>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <a class="btn-outline-success btn-block" th:href="@{'/book-list/'}">Back to book list</a>

                        </td>

                    </tr>

                </table>

            </form>

        </div>
    </div>
</div>
</body>

</html>

