<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8">

    <title>BookCatalog</title>

    <link rel='stylesheet' media='screen' href='/css/bootstrap.min.css'>

    <script type='text/javascript' src='/js/bootstrap.min.js'></script>

</head>

<body>

<nav class="navbar navbar-light bg-light">

    <span class="navbar-brand mb-0 h1">BookCatalog</span>

</nav>

<br>

<div class="container">

    <div class="row">

        <div class="col">

            <h5>Book Detail</h5>

        </div>

    </div>

    <table class="table">

        <tbody>

        <tr>

            <th scope="col">Title</th>

            <th scope="col">Author</th>

            <th scope="col">Description</th>

            <th scope="col">Year</th>

            <th scope="col"></th>

        </tr>

        <tr>

            <td th:text="${book.title}"/>

            <td th:text="${book.author}"/>

            <td th:text="${book.description}"/>

            <td th:text="${book.year}"/>

            <td> <a th:href="@{'/book-list/'}">back</a> </td>

        </tr>

    </table>

</div>

</body>

</html>


